h3 Skills
	h6
	ul
	each item in contents['skills.json'].metadata
		li= item.li1
		li= item.li2
		li= item.li3
		li= item.li4
		li= item.li5
		li= item.li6
		li= item.li7
		li= item.li8
		li= item.li9
		li= item.li10
		li= item.li11
		li= item.li12
		li= item.li13
		li= item.li14
		li= item.li15